.navbarLink {
	color: black;
	opacity: 0.6;
	-webkit-transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
	-moz-transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
	-o-transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
	transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navbarLink:hover {
	opacity: 1;
}

.dropdown {
	position: relative;
	height: fit-content;
}

.content {
	margin: 0;
	padding: 0;
	max-height: 0;
	overflow: hidden;
	position: absolute;
	background: white;
	border-radius: 0 0 5% 5%;
	z-index: 1000;
}

.dropdown:hover .content {
	max-height: 300px;
	-webkit-transition: max-height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
	-moz-transition: max-height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
	-o-transition: max-height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
	transition: max-height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
