.sidebarList {
	list-style: none;
	display: flex;
	flex-direction: column;
	padding: 0;
    width: 200px;
}

.sidebarListItem {
	position: relative;
	cursor: pointer;
	list-style: none;
	width: 200px;
	margin: 5px 0;
	clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0% 100%, 0% 0%);
	transition: width 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.sidebarListItem:hover {
	width: 250px;
	transition: width 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
}
