.navbarLink {
	color: black;
	opacity: 0.6;
	-webkit-transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
	-moz-transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
	-o-transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
	transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navbarLink:hover {
	opacity: 1;
}

.dropdown {
    position: relative;
    height: fit-content;
}

.content {
    display: none;
    position: absolute;
    list-style: none;
}

.dropdown:hover .content {
    display: block;
}