.navbarLink {
	color: black;
	opacity: 0.6;
	-webkit-transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
	-moz-transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
	-o-transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
	transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navbarLink:hover {
	opacity: 1;
}

.dropdown {
    position: relative;
    height: fit-content;
}

.content {
    margin: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    list-style: none;
    -webkit-transition: max-height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
	-moz-transition: max-height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
	-o-transition: max-height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: max-height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.dropdown:hover .content {
    max-height: 200px;
    -webkit-transition: max-height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
	-moz-transition: max-height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
	-o-transition: max-height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: max-height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}